.filterContainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filterContainer input {
  display: flex;
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 20px;
}

.filterContainer input:focus {
  border: 1px solid #116f27;
}