.ContactForm {
  text-align: center;
  color: #18300c;
  font-size: 20px;
  font-weight: 700;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  margin-bottom: 20px;
}

.inputLabel input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  max-width: 650px;
  width: 100%;
}

.inputLabel input:focus {
  border-color: #23630c;
}

.formButton {
  align-self: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #12693bb5;
  color: rgb(225, 228, 230);
  cursor: pointer;
  font-size: 20px;
  width: 200px;
  transition: background-color .3s linear;
}

.formButton:hover {
  background-color: #12693b;
}