.contactList {
  text-align: center;
  text-decoration: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.contactListName,
.contactListNumber {
  min-width: 150px;
  font-size: 20px;
  margin-right: 30px;
}

.deleteButton {
  font-family: inherit;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #145a2a9f;
  color: aliceblue;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.1;
  transition: background-color .3s linear;
}

.deleteButton:hover {
  background-color: #145a2a;
}